@model Photo

@* @{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
 *@
@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLabeled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLabeled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Swiper.css">
</head>
<body>
    <div class="display-grid">
        <div class="image-display column">
            <div id="canvas-container">
                <img src="~/img/@Model.Path" id="img" style="max-width: 100%; min-width: 573px; max-height: 100%; min-height: 573px" /> <!-- Image that we want to draw on and get coordinates -->
                <canvas id="myCanvas" width="573" height="573" ></canvas>
                <script src="~/js/ImageHandler.js"></script>
            </div>
        </div>
        <div class="label-column column">
            <div class="column-button-wrapper">
                <div class="all-labels">
                    @foreach (var label in (List<Label>)ViewData["Labels"])
                    {
                        <form method="post">
                            <button class="column-button" data-label-id="@label.Id">@label.Description</button>
                            @* <input type="hidden" name="imageId" value="@Model.Id" />
                            <input type="hidden" name="labelId" value="@label.Id" />
                            <input type="hidden" name="x1" id="x1" />
                            <input type="hidden" name="y1" id="y1" />
                            <input type="hidden" name="x2" id="x2" />
                            <input type="hidden" name="y2" id="y2" />
                            <input type="hidden" name="x3" id="x3" />
                            <input type="hidden" name="y3" id="y3" />
                            <input type="hidden" name="x4" id="x4" />
                            <input type="hidden" name="y4" id="y4" /> *@
                        </form>
                    }
                </div>
                @* <form class="label-form" method="post" action="/Photos/LabelImage">
                        <input type="text" placeholder="Welk label wilt u toevoegen?">
                        <input type="submit" value="Add">
                    <input type="hidden" name="ïmageId" value="@Model.Id" />
                </form> *@
            </div>
            <form method="post" action="/Photos/ImageDbUpdate">
                <input type="hidden" name="imageId" id="imageId" value="@Model.Id" />
                <input type="hidden" name="selectedLabelId" id="selectedLabelId" />
                <button class="confirm-btn">Bevestig</button>
            </form>

        </div>
    </div>
</body>
</html>